{% assign button = include %}
{% assign button_type = site.data.types[include.type] %}
{% assign button = button | hash_default: button_type %}
{% assign button_text = button.text %}
{% assign button_tooltip = button.tooltip %}
{% if page.lang == "zh" %}
  {% if include.text == nil and button_type.text_zh %}
    {% assign button_text = button_type.text_zh %}
  {% endif %}
  {% if include.tooltip == nil and button_type.tooltip_zh %}
    {% assign button_tooltip = button_type.tooltip_zh %}
  {% endif %}
{% endif %}

{% if button.link or button.icon or button_text %}
  <div class="button-wrapper">
    <a
      class="button"
      href="{{ button.link | replace: "$LINK", button.link | relative_url }}"
      {% if button_tooltip %}
        data-tooltip="{{ button_tooltip | xml_escape }}"
      {% endif %}
      data-style="{{ include.style }}"
      {% if include.flip %}
        data-flip
      {% endif %}
      aria-label="{{ button_tooltip | default: button.icon | default: "button" | regex_strip }}"
    >
      {% include icon.html icon=button.icon %}
      {% if button_text and button_text != "" %}
        <span>{{ button_text }}</span>
      {% endif %}
    </a>
  </div>
{% endif %}
