<div class="post-info">
  {% assign lang = page.lang | default: "en" %}
  {% assign ui = site.data.i18n[lang] %}
  {% if include.author %}
    {% assign authors = include.author
      | join: ","
      | downcase
      | split: ","
      | array_filter
    %}
    {% for author in authors %}
      {% assign member = site.members
        | where_exp: "member", "member.slug == author"
        | first
      %}
      {% if member %}
        {% include portrait.html lookup=author style="tiny" %}
      {% else %}
        <span data-tooltip="{{ ui.author }}">
          {% include icon.html icon="fa-solid fa-feather-pointed" %}
          <span>{{ author }}</span>
        </span>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if lang == "zh" %}
    {% assign published = include.published | date: "%Y年%-m月%-d日" %}
    {% assign updated = include.updated | date: "%Y年%-m月%-d日" %}
  {% else %}
    {% assign published = include.published | date: "%B %d, %Y" %}
    {% assign updated = include.updated | date: "%B %d, %Y" %}
  {% endif %}

  {% if published %}
    <span data-tooltip="{{ ui.published_on }}">
      {% include icon.html icon="fa-regular fa-calendar" %}
      <span>{{ published }}</span>
    </span>
  {% endif %}

  {% if updated and updated != "" and updated != published %}
    <span data-tooltip="{{ ui.updated_on }}">
      {% include icon.html icon="fa-solid fa-clock-rotate-left" %}
      <span>{{ updated }}</span>
    </span>
  {% endif %}
</div>

{% if include.tags %}
  {% capture blog_link %}/{{ lang }}/blog/{% endcapture %}
  {% include tags.html tags=include.tags link=blog_link %}
{% endif %}
