{% assign tags = include.tags
  | object_items
  | join: ","
  | downcase
  | split: ","
  | array_filter
  | join: ","
  | regex_replace: "\s+", "-"
  | split: ","
  | uniq
%}
{% assign link = include.link | default: page.dir %}
{% assign lang = page.lang | default: "en" %}
{% assign ui = site.data.i18n[lang] %}
{% if tags.size > 0 or include.repo %}
  <div
    class="tags"
    {% if include.repo %}
      data-repo="{{ include.repo | xml_escape }}"
    {% endif %}
  >
    {% for tag in tags %}
      <a
        href="{{ link | relative_url }}?search=&quot;tag: {{ tag }}&quot;"
        class="tag"
        data-tooltip="{{ ui.show_tag_prefix }}{{ tag | xml_escape }}{{ ui.show_tag_suffix }}"
      >
        {{ tag }}
      </a>
    {% endfor %}
  </div>
{% endif %}
