name: Build and Save Static Files

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.1

    - name: Install dependencies
      run: |
        gem install bundler
        bundle install

    - name: Build site
      run: |
        bundle exec jekyll build

    - name: Upload static site files
      uses: actions/upload-artifact@v3
      with:
        name: site-files
        path: _site
